# Node
node_modules
pnpm-lock.yaml
.npm
.next
out

# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*.py.class
.venv
.dmypy.json
.pytest_cache
.mypy_cache

# Env files
.env
.env.*
frontend/.env.local
backend/.env.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
